<div class="grid-container margin-y-5">
  <div class="grid-row flex-align-end margin-bottom-3">
    <div class="tablet:grid-col-6 overflow-hidden radius-md">
      {% if page.image_name %}
      <img src="" data-lazy-src="{{ site.baseurl }}/images/{{ page.image_name }}" alt="Photo of {{ page.name }}" />
    {% else %}
      <img src="" data-lazy-src="{{ site.baseurl }}/images/no-photo-logo.png" alt="Photo of {{ page.name }}" />
    {% endif %}
    </div>
    <div class="tablet:grid-col-6 tablet:padding-left-5 font-body-md">
      {% if page.designation %}
        <div>
          <strong class="text-primary">Designation:</strong>
          <span class="text-bold">{{ page.designation }}</span>
        </div>
      {% endif %}
      {% if page.subject %}
      <div>
        <strong class="text-primary">Subject:</strong>
        <span class="text-bold">{{ page.subject }}</span>
      </div>
    {% endif %}
      {% if page.level %}
        <div>
          <strong class="text-primary">Level:</strong>
          <span class="text-bold">{{ page.level }}</span>
        </div>
      {% endif %}
      {% if page.phoneno %}
        <div>
          <strong class="text-primary">Phone Number:</strong>
          <span class="text-bold">{{ page.phoneno }}</span>
        </div>
      {% endif %}
      {% if page.email %}
        <div>
          <strong class="text-primary">Email:</strong>
          <span class="text-bold">{{ page.email }}</span>
        </div>
      {% endif %}
    </div>
  </div>

  <h1 class="margin-y-5">{{ page.name }}</h1>

  <hr>

  <section class="site-c-section">
    <div class="usa-prose">
      {{ content }}
    </div>
  </section>

  <hr>

  <section class="site-c-section">
    {% assign content = site.data.people %}
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.page_title.heading_title }}</h2>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/people.html %}">{{ content.page_title.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      {% include carousel-people.html %}
    </div>
  </section>

</div>
