---
layout: default
description: The Jana Prakash Secondary School is dedicated to creating high standards of learning experiences for all children.
permalink: /
social_image: social-card--homepage.jpg

redirect_from:
  - /join-government
---

{% assign content = site.data.home %}
{% assign about = site.data.our_mission %}

<div class="site-c-page-banner site-c-page-banner--min-height">
  <img src="{{ site.baseurl }}/assets/img/banner-home-old.jpg" srcset="{{ site.baseurl }}/assets/img/banner-home-old.jpg 640w,
        {{ site.baseurl }}/assets/img/banner-home-old.jpg" alt="">
  <div class="site-c-page-banner__text">
    <div class="grid-container">
      <h1 class="site-c-page-banner__header">{{ content.hero.heading_title }}</h1>
    </div>
  </div>
</div>

<div class="grid-container">
  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h1 class="site-c-section-heading__heading site-c-section-heading__heading--h1">{{ about.page_title.heading_title }}</h1>
      <div class="site-c-section-heading__text site-c-section-heading__text--big usa-prose">
        {{ about.page_title.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
    </div>
  </section>

  <hr>

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.people.heading_title }}</h2>
      <div class="site-c-section-heading__links">
        <a class="usa-button usa-button--outline" href="{{ site.baseurl }}{% link pages/people.html %}">{{ content.people.heading_button_text }}</a>
      </div>
    </div>
    <div class="site-c-section__body">
      {% include carousel-people.html %}
    </div>
  </section>

  <hr>

  <section class="site-c-section">
    <div class="site-c-section-heading">
      <h2 class="site-c-section-heading__heading">{{ content.community.heading_title }}</h2>
      <div class="site-c-section-heading__text usa-prose">
        {{ content.community.heading_text | replace: 'site.baseurl', site.baseurl | markdownify}}
      </div>
      <div class="site-c-section-heading__links">
        {% include _social-buttons.html %}
      </div>
    </div>
  </section>

</div>
